<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a {
            font-size: large;
            color: blue;
        }
        a:hover {
            color: green;
        }
        a:visited {
            color: blue;
        }
        table a {
            color: black;
        }
        table a:visited {
            color: black;
        }
    </style>
</head>
<body>
<p>
    <a href="/shopping-cart">Your cart</a>
</p>

<p th:if="${message}">
    <span th:text="${message}"></span>
</p>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Add To Cart</th>
    </tr>
    <th:block th:each="product:${products}">
        <tr>
            <td><a th:href="@{/view/__${product.id}__}" th:text="${product.name}"></a></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>